#set($inputRoot = $util.parseJson($input.json('$')))
#set($jobStatusMap = $inputRoot.Item.job_status.M)
{
#foreach($entry in $jobStatusMap.entrySet())
  "$entry.getKey()": {
#set($results = $!{entry.getValue().M.results.S})
#set($status = $!{entry.getValue().M.status.S})
#if($results != "")
    "results": "$results"#if($status != ""),
#end
#end
#if($status != "")
    "status": "$status"
#end
  }#if($foreach.hasNext),
#end
#end

}